/* Estilización general */

body {
    background-color: #000;
    /* Fondo negro */
    color: #fff;
    /* Texto en blanco */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Contenedor central */

.container {
    background-color: #333;
    /* Fondo gris oscuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    max-width: 400px;
    width: 90%;
    text-align: center;
}


/* Título */

h2 {
    color: #e74c3c;
    /* Color rojo para el título */
}


/* Estilización de entradas */

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #555;
    border-radius: 5px;
    font-size: 16px;
    background-color: #222;
    color: #fff;
}


/* Efecto al enfocar entradas */

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 5px #e74c3c;
}


/* Botón de envío */

button {
    background-color: #e74c3c;
    /* Rojo */
    color: #fff;
    padding: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}


/* Hover del botón */

button:hover {
    background-color: #c0392b;
}